@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.aur_installer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr-1 {
  margin-right: 1em;
}
.size-small {
  font-size: 0.4em !important;
}

.btnlist {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aur-install-title {
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}
.noborder {
  border-bottom: none;
}
